<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.shop.server.user.dao.UserLogMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.shop.entity.UserLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="creattime" jdbcType="TIMESTAMP" property="creattime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, flag, content, creattime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userlog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from userlog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qfedu.shop.entity.UserLog" useGeneratedKeys="true" keyProperty="id">
    insert into userlog (uid, flag,
      content, creattime)
    values (#{uid,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER},
      #{content,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.shop.entity.UserLog">
    insert into userlog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="creattime != null">
        creattime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        #{creattime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.shop.entity.UserLog">
    update userlog
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        creattime = #{creattime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.shop.entity.UserLog">
    update userlog
    set uid = #{uid,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      creattime = #{creattime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>